<mat-form-field
  appearance="outline"
  class="sera-input-field"
  [style.width]="width">

  <mat-label>{{ label }}</mat-label>

  @if (prefixIcon) {
    <mat-icon matPrefix>{{ prefixIcon }}</mat-icon>
  }

  <input
    matInput
    [type]="type"
    [formControl]="internalControl"
    [placeholder]="placeholder"
    [readonly]="readonly"
    (blur)="onBlur()">

  @if (suffixIcon) {
    <mat-icon matSuffix>{{ suffixIcon }}</mat-icon>
  }

  @if (hint) {
    <mat-hint>{{ hint }}</mat-hint>
  }

  @if (internalControl.hasError('required') && internalControl.touched) {
    <mat-error>Este campo es requerido</mat-error>
  }
  @if (internalControl.hasError('email') && internalControl.touched) {
    <mat-error>Ingresá un email válido</mat-error>
  }

</mat-form-field>
