<h2 mat-dialog-title>{{ data.message }}</h2>
<div mat-dialog-content class="formStyle">
  <form class="formulario" [formGroup]="newRegister">

    @for (field of formFields; track field) {
      <div >
        @if(field.type === 'date'){
          <mat-form-field appearance="outline">
            <mat-label>{{field.label.split('_').join(' ')}}</mat-label>
            <input matInput [matDatepicker]="picker" [formControlName]="field.field">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        } @else if (field.type === 'boolean') {
          <mat-form-field appearance="outline">
            <mat-label>{{field.label.split('_').join(' ')}}</mat-label>
            <mat-select [formControlName]="field.field">
              <mat-option [value]="true">Sí</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
          </mat-form-field>
        } @else {
          <mat-form-field appearance="outline">
            <mat-label>{{field.label.split('_').join(' ')}}</mat-label>
            <input matInput [type]="field.type === 'number' ? 'number' : 'text'" [formControlName]="field.field">
            @if (newRegister.controls[field.field].hasError('required')) {
              <mat-error>
                Este campo es <strong>requerido</strong>
              </mat-error>
            }
          </mat-form-field>
        }
      </div>
    }
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="dialogClose()">Cancelar</button>
  <button
    mat-button
    type="submit"
    [disabled]="newRegister.invalid"
    (click)="onSubmit()"
    >
    {{ isUpload ? "Actualizar Registro" : "Crear Registro"}}
  </button>
</div>